*{
    margin: 0;
    padding: 0;
}


.fira-sans{
    font-family: Fira Sans;
}
.nav-bar{
    width: 1700px;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px 165px 25px 165px;
    margin-bottom: 20px;
}

